Tiffin-System/Lab Test 2/StudentsSchema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Students">
	<xsd:complexType>
		<xsd:element name="Student">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="Name" type="xs:string"/>
					<xsd:element name="Age" type="xs:integer"/>
					<xsd:element name="College" type="xs:string"/>
				</xsd:sequence>	
			</xsd:complexType>
		</xsd:element>

	</xsd:complexType>
	</xsd:element>
</xsd:schema>